<div id="<%= dom_id api_key %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= api_key.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client ID:</strong>
    <%= api_key.client_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Client Secret:</strong>
    <%= api_key.client_secret %>
  </div>
</div>
